.color-input {
  .MuiInputBase-root {
    @apply flex h-12 w-full items-center rounded-[20px] #{!important};

    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: #efeff0 !important;
        border-width: 1px;
      }
    }

    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: #efeff0 !important;
        border-width: 1px;
      }
    }
    &.Mui-error {
      &:hover {
        .MuiOutlinedInput-notchedOutline {
          border-color: #e25c5c !important;
          border-width: 1px;
        }
      }
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #efeff0;
  }

  .MuiFormHelperText-root {
    line-height: 145%;
    font-size: 0.875rem;
    color: #e25c5c !important;
    margin-left: 0px;
  }
}
