@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "pallete";
@import "typography";
@import "select";
@import "select-shop-type";
@import "radio-button";
@import "select-font-type";
@import "text-size-input";
@import "design-search-input";
@import "animations";
@import "datepicker";
@import "tooltip";
@import "color-input";

body {
  font-family: "Inter", sans-serif;
  background: var(--white);
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root,
body {
  height: 100vh;
  position: relative;
  width: 100%;
}

#root {
  -ms-overflow-style: none;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.scroll-fixed {
  overflow: hidden;
}

.input-icon path {
  fill: #575a65;
}

.control-panel-active .active-icon {
  display: block;
}

.control-panel-default .icon {
  display: block;
}

.control-panel-active p {
  color: #2d3242 !important;
  font-weight: 600;
  width: 100%;
}

.control-panel-default p {
  color: #77797d !important;
  font-weight: 400;
  width: 100%;
}

.in-development {
  -webkit-backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.6);
}

.status-icon svg {
  width: 12px;
  height: 12px;
}

.status-icon path {
  fill: #f9f9f9;
}

.status-icon-modal path {
  fill: #3d3f45;
}
